/* COLORS / THEMEING */
:root{
    /* Primary */
    --dark-cyan: hsl(158, 36%, 37%);
    --hover-bg: hsl(158, 37%, 21%);
    --cream: hsl(30, 38%, 92%);
    /* Neutral */
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

body{
    background-color: var(--cream);
}

article{
    background-color: var(--white);
    border-radius: 15px;
}

img{
    border-radius: 15px 15px 0 0;
}

h1{
    color: var(--very-dark-blue);
}

p{
    color: var(--dark-grayish-blue);
}

.discounted-price{
    color: var(--dark-cyan);
}

button{
    background-color: var(--dark-cyan);
    border: none;
    border-radius: 8px;
    color: var(--white);
}

.attribution a { color: hsl(228, 45%, 44%); }

/* TYPOGRAPHY */ /*<p> 14px*/

@font-face {
    /* Weights: 500, 700 */
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf');
}
@font-face {
    /* Weights: 700 */
    font-family: 'Fraunces';
    src: url('./assets/fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf');
}

h1{
    line-height: 1;
    font-size: 2rem;
}

p{
    font-family: Montserrat;
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.5;
}

p:first-of-type{
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.discounted-price{
    font-size: 2rem;
}

.original-price{
    text-decoration-line: line-through;
}

h1, .discounted-price{
    font-family: Fraunces;
}

button{
    font-family: Montserrat;
    font-weight: 600;
}

.attribution { font-size: 11px; text-align: center; }

/* LAYOUT */

body{
    display: grid;
    margin: 0;
    place-items: center;
    min-block-size: 100vh;
}

article, .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

article{
    margin: 1rem;
}

img{
    max-inline-size: 100%;
}

.content{
    padding: 1.75rem 1.4rem;
    padding-block-end: 1.5rem;
}

h1{
    margin-block: 1rem;
}

p{
    margin: 0;
}

p:first-of-type{
    order: -1;
}

p:last-of-type{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-block-start: 1rem;
    margin-block-end: .5rem;
}

button{
    inline-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding-block: .75rem;
}

/* MEDIA QUERIES */

@media  (max-width: 800px){
    main{
        max-inline-size: 30rem;
    }
}

@media (min-width: 801px) {
    main{
        max-inline-size: 36rem;
    }

    article{
        flex-direction: row;
        border-radius: 13px;
    }

    .content{
        padding-block: 0;
        flex-shrink: 1.3;
    }

    img{
        min-block-size: 100%;
        border-radius: 13px 0 0 13px;
    }
}

@media (any-pointer: fine){
    button:hover{
        background-color: var(--hover-bg);
        cursor: pointer;
    }
}